<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>739030422268-fvli80s96el9bevqp4cu1qar9ac8l1bn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739030422268-fvli80s96el9bevqp4cu1qar9ac8l1bn</string>
	<key>API_KEY</key>
	<string>AIzaSyCLboC1H5z5mDOWNMPx1JdipyD0nhyxH9s</string>
	<key>GCM_SENDER_ID</key>
	<string>739030422268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hadar.Minesweeper</string>
	<key>PROJECT_ID</key>
	<string>minesweeper-34979</string>
	<key>STORAGE_BUCKET</key>
	<string>minesweeper-34979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739030422268:ios:c3707722b3b10521</string>
	<key>DATABASE_URL</key>
	<string>https://minesweeper-34979.firebaseio.com</string>
</dict>
</plist>